@model AydoganFBank.Service.Dispatcher.Data.TokenInfo
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<hr />


@if (Model != null)
{
    <p>
        <div>Token: @Model.Token</div>
    </p>
}
else
{
    <p>
        token is not valid
    </p>
}




