@model AccountApp.Models.PersonOverview



<h2>Home</h2>
<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        Accounts
        @Html.ActionLink("New", "Create", "Account", null, new { @class = "btn btn-default btn-xs pull-right" })
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        
        <div class="row">
            <div class="col-md-12">
                @foreach (var accountOverview in Model.AccountOverviews)
                {
                    <div class="col-md-6">
                        @Html.Partial("_HomeAccountOverviewPartial", accountOverview)
                    </div>
                }

                
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Credit Cards
        @Html.ActionLink("New", "Create", "CreditCard", null, new { @class = "btn btn-default btn-xs pull-right" })
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                @foreach (var creditCard in Model.CreditCards)
                {
                    <div class="col-md-6">
                        @Html.Partial("_HomeCreditCardOverviewPartial", creditCard)
                    </div>
                }


            </div>
        </div>

    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            //$('.dropdown-toggle').dropdown('toggle');
        });
    </script>    
}
