
BankAccountSystem1/.vs/BankAccountSystem1/v16/Server/sqlite3/db.lock
BankAccountSystem1/.vs/BankAccountSystem1/v16/Server/sqlite3/storage.ide
BankAccountSystem1/.vs/BankAccountSystem1/v16/Server/sqlite3/storage.ide-shm
BankAccountSystem1/.vs/BankAccountSystem1/v16/Server/sqlite3/storage.ide-wal
