@model AydoganFBank.Service.Dispatcher.Data.CompanyInfo

    <div class="row">

        <div class="col-md-6">
            <div class="col-md-6">
                <label class="bold">Company Name</label>
            </div>
            <div class="col-md-6">@Model.CompanyName</div>
        </div>

        <div class="col-md-6">
            <div class="col-md-6">
                <label class="bold">Address</label>
            </div>
            <div class="col-md-6">@Model.Address</div>
        </div>

        <div class="col-md-6">
            <div class="col-md-6">
                <label class="bold">Phone Number</label>
            </div>
            <div class="col-md-6">@Model.PhoneNumber</div>
        </div>

        <div class="col-md-6">
            <div class="col-md-6">
                <label class="bold">Tax Number</label>
            </div>
            <div class="col-md-6">@Model.TaxNumber</div>
        </div>

    </div>
