
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>
<hr />

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">Account / Identity number</label>
            <div class="col-md-9">
                @Html.TextBox("identity", null, new { @class = "form-control", placeholder = "Account number or Identity number" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
                @Html.Password("password", null, new { @class = "form-control", placeholder = "Password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" class="btn btn-success" value="Log in" /> @Html.ActionLink("Forgot Password", "ForgotPassword", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@if (ViewBag.ErrorResult != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorResult.Message
    </div>
}